<div class="dashboard">
  <div class="team-members">
    <manage-tool-team-member-card
      #teamMembersCard
      *ngFor="let teamMember of teamMembers"
      [name]="teamMember.name"
      [inputGoals]="teamMember.goals"
      [inputFinishedGoals]="teamMember.finishedGoals"
      (delete)="deleteMember($event)"
      (valueChange)="updateTeamMembers()"
    ></manage-tool-team-member-card>
  </div>
  <div class="options">
    <button mat-mini-fab color="accent" (click)="openAddMemberDialog()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>
