:host {
  display: grid;
  overflow-y: auto;
}

.dashboard {
  display: grid;
  grid-template-columns: 1fr auto;
}

.options {
  display: flex;
  align-items: flex-end;
  margin: 10px;
}

.team-members {
  display: grid;
  margin: 10px;
  grid-template-columns: 0.25fr 0.25fr 0.25fr 0.25fr;
  height: fit-content;
}
